body{
    background-color: black;
    padding:0;
    margin:0;
}

.header, .form > form > div, .result > div{
    padding: 5rem;
}

.form{
    z-index: 0;
    margin-top: -5.5rem;
}

.form > form > div{
    margin-top: -2rem;
    margin-bottom: -4rem;
    padding-top: 8rem;
    padding-bottom: 16rem;
}

#checkStrength, #reset{
    background-color: #37DFBD;
    width: 11rem;
    border-style: none;
}

#checkStrength{
    float: left;
    margin-right: 1rem;
    margin-top: 2rem;
}

#reset{
    margin-top: 1rem;
}

button{
    height: 4rem;
    width: 100%;
    background-color: #D6FFF6;
    font-size: 16px;
    padding: .5rem;
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
}

button:hover, .clickable:hover{
    cursor: pointer;
}

.editGenerated > div {
    display: flex;
    align-items: center;
}

.clickable{
    width: 4rem;
    margin-left: 1.5rem;
}

.header{
    grid-area: header;
    /* background-color: black; */
    height: 35vh;
    background-image: url('/static/images/BlackTornPaper-Top.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.form > form{
    grid-area: form;
    height: auto;
    display: grid;
    grid-template-columns: 1fr .7fr;
    grid-template-areas: "enterWords options";
    padding: 0;
    margin: 0;
}

.result{
    grid-area: result;
    /* background-color: black; */
    height: auto;
    display: grid;
    grid-template-columns: .7fr 1fr;
    grid-template-areas: "securityLevel yourPassword";
    margin-top: -12rem;
    margin-bottom: 0;
    padding-top: 4rem;
    height: 60vh;
    background-image: url('/static/images/BlackTornPaper-Bottom.png');
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.enterWords{
    grid-area: enterWords;
    background-color: #37DFBD;
}

.options{
    grid-area: options;
    background-color: #D6FFF6;
}

.securityLevel{
    grid-area: securityLevel;
}

.yourPassword{
    grid-area: yourPassword;
}

.wordFields{
    display: grid;
    width: 75%;
    grid-template-columns: .5fr .5fr .5fr;
    grid-gap: 1rem;
}

.wordFields > div > label{
    margin-top: 7px;
    display: block;
    text-align: center;
}

.wordFields > div > input, #sep{
    width: 100%;
    height: 2.5rem;
    font-size: large;
    padding: .5rem;
}

#sep{
    width: 3rem;
    margin-left: .4rem;
}

#replace{
    height: 1.5rem;
    width: 1.5rem;
}

.check{
    display: grid;
    grid-template-columns: 3rem auto;
}

#pass{
    width: 75%;
    height: 5rem;
    font-size: xx-large;
    padding: 1rem;
}

.container{
    width:100vw;
    font-family: "helvetica-lt-pro", sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "form"
    "result";
    grid-gap:2rem;
}

h1{
    font-family: "typeka", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 67;
    text-transform: uppercase;
}

mark{
    color: #201F24;
    background-color: #37DFBD;
}

h2{
    font-family: "typeka", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    text-transform: uppercase;
}

.teal{
    color: #37DFBD;
}

.ice{
    color: #D6FFF6;
}

h3{
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    color: white;
    text-transform: uppercase;    
}

h3.slogan{
    font-weight: 400;
}

h4, label{
    font-family: "helvetica-lt-pro", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
    text-transform: uppercase;
}

.suggestions {
    color: white;
}

.ranking {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: .4fr;
    align-items: center;
}

img{
    width: 6rem;
}

li{
    margin-bottom: .5rem;
}

h4{
    margin-bottom: -.5rem;
}

p{
    font-style: italic;
    font-size: 16px;
}
