<head>
    <meta charset="UTF-8">
    <title>Personal Password Generator</title>
    <!-- Danielle Williams 4/4/2026 -->
    <link rel="stylesheet" href="https://use.typekit.net/lyg1asp.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        function validateForm() {
            const word1 = document.getElementById("word1").value.trim();
            const word2 = document.getElementById("word2").value.trim();
            const word3 = document.getElementById("word3").value.trim();
            const errorMessage = document.getElementById("error-message");

            if (word1 === "" || word2 === "") {
                errorMessage.textContent = "Please fill in all required fields.";
                return false;
            }

            errorMessage.textContent = "";
            return true;
        }

        function copy(){
            navigator.clipboard.writeText(document.getElementById('pass').value);
            alert('Text copied to the clipboard!');
        }

        function reset() {
        document.getElementById("word1").value = "";
        document.getElementById("word2").value = "";
        document.getElementById("word3").value = "";
        document.getElementById("word4").value = "";
        document.getElementById("word5").value = "";
        document.getElementById("sep").value = "";

        document.getElementById("pass").value = "";
        document.getElementById("check").textContent = "";
    }
</script>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><mark>Personal Password</mark></h1>
            <h3 class="slogan">Easy to remember. Hard to guess. Personal to you.</h3>
        </div>
        <div class="form">
            <form method="post" onsubmit="return validateForm()"> 
                <input type="hidden" name="action" value="generate">
            <div class="enterWords">
                <h2>Please enter up to 5 words</h2>
                <div class="wordFields">
                    <div>
                        <input type="text" id="word1" name="word1" value="{{word1}}"><br>
                        <label for="word1">Word 1*</label><br><br>

                        <input type="text" id="word2" name="word2" value="{{word2}}"><br>
                        <label for="word2">Word 2*</label><br>
                    </div>
                    <div>
                        <input type="text" id="word3" name="word3" value="{{word3}}"><br>
                        <label for="word3">Word 3</label><br><br>

                        <input type="text" id="word4" name="word4" value="{{word4}}"><br>
                        <label for="word4">Word 4</label><br>
                    </div>
                    <div>
                        <input type="text" id="word5" name="word5" value="{{word5}}"><br>
                        <label for="word5">Word 5</label><br><br>
                    </div>
                    <p id="error-message" style="color: red;"></p>
                    <button type="submit" >Generate Password</button>
                </div>
            </div>
            <div class="options">
                <h2>Options</h2>
                <div class="options">
                    <label for="sep" >Separator</label>
                    <input type="text" id="sep" name="sep" style="width: 30px"><br><br>

                    <div class="check">
                        <input type="checkbox" id="replace" name="replace" >
                        <!-- new change -->
                        <div>
                            <label for="replace">Convert letters to common replacements</label>
                            <p>Ex: ‘o’ → ‘0,’ ‘a’ → ‘@,’ ‘i’ → ‘1,’ etc.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            
            </form>
        </div>
        {% if password or checker %}
            <div class="result">
                <div class="securityLevel">
                    <h2 class="teal">Security Level</h2>

                    <!-- New Addition -->
                    <!-- Display version based on security level -->
                    <div class="ranking">
                        <img src="{{face}}">
                        <h3 id="check">{{checker}}</h3>
                    </div>

                    <!-- Only display suggestions if the password could be more secure -->
                    <div class="suggestions">
                        <h4 class="ice">Suggestions</h4>
                        <ul>
                            <li>At least 12 characters</li>
                            <li>At least 3 number</li>
                            <li>At least 3 symbol</li>
                            <li>At least 3 uppercase letters</li>
                            <li>At least 3 lowercase letters</li>
                        </ul>
                    </div>
                </div>
                <div class="yourPassword">
                    <h2 class="teal">Your Password</h2>
                    <form method="post" class="editGenerated">
                        <input type="hidden" name="action" value="check">
                        <input type="hidden" name="word1" value="{{word1}}">
                        <input type="hidden" name="word2" value="{{word2}}">
                        <input type="hidden" name="word3" value="{{word3}}">
                        <input type="hidden" name="word4" value="{{word4}}">
                        <input type="hidden" name="word5" value="{{word5}}">
                        <div>
                            <input type="text" id="pass" name="pass" value="{{password}}">
                            <img src="{{ url_for('static', filename='images/clipboard.png') }}" class="clickable" onclick="copy();">
                        </div>
                        <br>
                        <button type="submit" id="checkStrength" name="checkStrength" >Check Strength</button>
                        
                    </form>
                    <button id="checkStrength" onclick="reset()" >Reset</button>
                </div>
            </div>
        {% endif %}

    </div>
</body>
